#nav_top{
    background: rgba(255,0,0,1);
    border: none;
}

#nav_top a{
    color: black;
    list-style-type: none;
}

#nav_top a:hover{
    border: none !important;
}

.container{
    background: rgb(255,255,255);
}

body{
    background-color: rgb(230,230,230) !important;
}

.asideitem{
    border-bottom: 0.025px solid black;
}

.aside{
    width: 90%;
    float: left;
}

footer{
    margin-top: 5%;
}